table, td, th{
    border: 1px solid;
    border-color: brown;
    padding: 10px;
    column-rule: 400px;
    column-rule-width: 20px;
}
tr:nth-child(1){
    background-color: aquamarine;
    color: blue;
    text-align: center;
}
th{
    background-color: antiquewhite;
    color:black

}
tr:nth-child(2){
    background-color: blueviolet;
    color: yellow;
    text-align: center;
}
tr:nth-child(5){
    background-color:coral;
    color: darkblue;
    text-align: center;
}
tr:nth-child(4){
    background-color: burlywood;
    color:black;
    text-align: center;
}
tr:nth-child(3){
    background-color: pink;
    color: chocolate;
    text-align: center;
}
td:nth-child(6){background-color: crimson; color: yellow;}
tfoot{
    position: relative;
    left: 400px;
    top: 1000px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    position: absolute;
    z-index: 1;
    top: 250px;
    background-color: aqua;
    left: 300px;
}
caption{
    background-color: aqua;
}