
input{
    position:absolute;
    top: -99999px;
    left: -99999px;
}
.label { 
    -webkit-appearance: push-button;
    -moz-appearance: button; 
    display: inline-block;
    margin: 60px 0 10px 0;
    cursor: pointer;
    position: absolute;
    left: 170px;

  }
#listferhat{
    visibility: hidden;
    background-color: burlywood;
    color: purple;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 16px;
}
#inferhat:checked ~ #listferhat{
    visibility: visible;
}
li{
    padding: 10px 30px;
}
#l2{
    left: 430px;
}
#listrasid{
    visibility: hidden;
    background-color: burlywood;
    color: purple;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 350px;
    top: 100px;
    font-size: 16px;
}
#inrasid:checked ~ #listrasid{
    visibility: visible;
}
#listsimsek{
    visibility: hidden;
    background-color: burlywood;
    color: purple;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 600px;
    top: 100px;
    font-size: 16px;
}
#insimsek:checked ~ #listsimsek{
    visibility: visible;
}
#l3{
    left: 670px;
}
#insalih:checked ~ #listsalih{
    visibility: visible;
}
#listsalih{
    visibility: hidden;
    background-color: burlywood;
    color: purple;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 850px;
    top: 100px;
    font-size: 16px;
}

#l4{
    left: 930px;
}
#insalih:checked ~ #listsalih{
    visibility: visible;
}
#listsalih{
    visibility: hidden;
    background-color: burlywood;
    color: purple;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 850px;
    top: 100px;
    font-size: 16px;
}

#l4{
    left: 930px;
}
#inson:checked ~ #listson{
    visibility: visible;
}
#listson{
    visibility: hidden;
    background-color: burlywood;
    color: purple;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 420px;
    top: 330px;
    font-size: 30px;
}

#l5{
    left: 520px;
    top: 250px;
   
}
p{
    visibility: hidden;
    position: absolute;
    left: 800px;
    top: 400px;
    font-size: 30px;
}





        
